.vs

sanalista_kotus.txt
Wordinator.sln
Wordinator.suo

AboutDialog/bin
AboutDialog/obj

Aloitusnaytto/bin
Aloitusnaytto/obj

GameComponents/bin
GameComponents/obj

KirjainValintaDialog/bin
KirjainValintaDialog/obj

SettingsDialog/bin
SettingsDialog/obj

Wordinator/bin
Wordinator/obj
Wordinator/sanalista_kotus.txt
#Wordinator/Wordinator.ico
