.vs

sanalista_kotus.txt
Wordinator.sln
Wordinator.suo

AboutDialog/bin
AboutDialog/obj
AboutDialog/AboutDialog.csproj

Aloitusnaytto/bin
Aloitusnaytto/obj
Aloitusnaytto/Aloitusnaytto.csproj

GameComponents/bin
GameComponents/obj
GameComponents/GameComponents.csproj

KirjainValintaDialog/bin
KirjainValintaDialog/obj
KirjainValintaDialog/KirjainValintaDialog.csproj

SettingsDialog/bin
SettingsDialog/obj
SettingsDialog/SettingsDialog.csproj

Wordinator/bin
Wordinator/obj
Wordinator/sanalista_kotus.txt
#Wordinator/Wordinator.ico
Wordinator/Wordinator.csproj