<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wordinator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wordinator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wordinator.Properties.Settings>
            <setting name="Vaikeustaso" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActiveKirjainlaatanTaustaVari" serializeAs="String">
                <value>#FFADD8E6</value>
            </setting>
            <setting name="ActiveKirjainlaatanReunusvari" serializeAs="String">
                <value>#FF4682B4</value>
            </setting>
            <setting name="InactiveKirjainlaatanTaustavari" serializeAs="String">
                <value>#FF4682B4</value>
            </setting>
            <setting name="InactiveKirjainlaatanReunusvari" serializeAs="String">
                <value>#FFDAA520</value>
            </setting>
        </Wordinator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Wordinator.Properties.Settings>
            <setting name="TekijanNimi" serializeAs="String">
                <value>Sami Viitanen</value>
            </setting>
            <setting name="OhjelmanNimi" serializeAs="String">
                <value>Wordinator</value>
            </setting>
            <setting name="Versio" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="VersioPvm" serializeAs="String">
                <value>28/12/2012</value>
            </setting>
        </Wordinator.Properties.Settings>
    </applicationSettings>
</configuration>